{% extends 'base.html' %}
{% load static %}
{% block extra_scripts %}
    <script src='{% get_static_prefix %}js/d3.v3/d3.v3.min.js'></script>
    <script src='{% get_static_prefix %}js/jquery-1.10.2.min.js'></script>
    <script src='{% get_static_prefix %}js/results.js'></script>
{% endblock %}
{% block title %}results{% endblock %}

{% block content %}
    <div class='results_diagram'>
        <div class='winning_images'>
            {% for photo in winners %}
                <div class='winning_image_wrapper'>
                    <img class='winning_image' id='winner_{{ forloop.counter }}' src='{{ MEDIA_URL }}{{ photo.thumbnail_file_300 }}' data-score='{{ photo.victory_ratio }}'>
                    <div class='winning_photographer'>{{ photo.photographer }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class='results_diagram'>
        <div class='chart_container'>
            <div class='chart' id='results'>
                {% for photo in top %}
                    {% if photo.victory_ratio > 0 %}
                        <a class='results_chart_link' href='{{ MEDIA_URL }}{{ photo.photo_file }}'>
                            <div class='bar' title='{{ photo.victory_ratio }}'
                                 data-name='{{ photo.photo_file }}'
                                 data-fraction='{{ photo.victory_count }}/{{ photo.battle_count }}'
                                 data-score='{{ photo.victory_ratio }}'
                                 data-url='{{ MEDIA_URL }}{{ photo.thumbnail_file_300 }}'>
                                <div class='graph_text'>
                                    {{ photo.victory_count }}/{{ photo.battle_count }}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class='hover_image_wrapper'>
            <div class="hover_image">
                <img class='hover_image_img' src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
                <div class='image_text'></div>
            </div>
        </div>
    </div>
    <div class='results_diagram'>
        <div class='all_results'>
            <table class='results_table'>
                <tr class='results_row_header'>
                    <th class="results_th">Filename</th>
                    <th class="results_th">Photographer</th>
                    <th class="results_th">Wins</th>
                    <th class="results_th">Battles</th>
                    <th class="results_th">Score</th>
                </tr>
                {% for photo in photos %}
                    <tr class='{% cycle 'results_row_odd' 'results_row_even' %}'>
                        <td class='results_data'>
                            <a class='results_table_link' href='{{ MEDIA_URL }}{{ photo.photo_file }}'>
                                {{ photo.photo_file }}
                            </a>
                        </td>
                        <td class='results_data'>{{ photo.photographer }}</td>
                        <td class='results_data'>{{ photo.victory_count }}</td>
                        <td class='results_data'>{{ photo.battle_count }}</td>
                        <td class='results_data'>{{ photo.victory_ratio }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class='stats'>
        <div class='results_diagram'>
            {% autoescape off %}
                {{ stats.participation_venn_svg }}
            {% endautoescape %}
        </div>
        <div class='results_diagram'>
            {% autoescape off %}
                {{ stats.votes_per_voter_histogram_svg }}
            {% endautoescape %}
        </div>
        <div class='results_diagram'>
            {% autoescape off %}
                {{ stats.battle_timestamp_histogram_svg }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
