{% extends 'base.html' %}
{% load static %}
{% block extra_scripts %}
{% endblock %}
{% block title %}Photo Contest: Upload Photos{% endblock %}

{% block content %}
    <div class='submissions_header'>
        This contest allows {{ max_photos_per_user }} submissions.
        {% if existing_submissions_for_user %}
            <br>
            Your existing submissions to this contest:
        {% endif %}
    </div>
    <div class="submissions_existing_images">
        {% for existing_photo in existing_submissions_for_user %}
            <div class="submissions_image_section">
                <img class='submitted_image' src='{{ MEDIA_URL }}{{ existing_photo.thumbnail_file_100 }}'>
                <form action="{% url 'photo_delete' existing_photo.id %}" method="post">
                    {% csrf_token %}
                    <input class='submitted_image_delete' type='submit' value="Delete">
                    <input type="hidden" name="next" value="{{ request.path }}">
                </form>
            </div>
        {% endfor %}
    </div>
    {% if success_failure_messages %}
        <div class="submission_message_list">
            <ul>
                {% for message in success_failure_messages %}
                    {% if message %}
                        <li>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table class="submissions_table">
            {{ upload_forms.as_table }}
        </table>
        {% if can_submit %}
            <input type="submit" value="Submit" class='submissions_button'/>
        {% endif %}
    </form>
{% endblock %}
