.voting_header{
    font: 2em sans-serif;
    color: #703030;
    text-align: center;
    padding: 10px;
}

.voting_body {
    text-align: center;
    padding-top: 10px;
}

.vote_button, .submissions_button, .submitted_image_delete {
    background-color: #703030;
    border-radius:25px;
    color: white;
    margin-bottom: 5px;
}

.photo_form_wrapper {
    display: inline-block;
    border:2px solid;
    border-color: #EEEEEE;
    box-shadow: 10px 10px 5px #888888;
    margin-left: 10px;
    margin-right: 10px;
}

.photo {
    margin: 0 auto;
}

.chart div {
    font: 1em sans-serif;
    background-color: #703030;
    padding: 0;
    margin: 0;
    color: white;
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
}

.results_chart_link:visited, .results_chart_link:link {
    color: #E3CDA4;
}

.results_table_link:visited, .results_table_link:link {
    color: #2F343B;
}

.chart_container {
    white-space: nowrap;
    margin: 10px;
}

div.graph_text {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.50);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.50)";
    margin-top: 20px;
    padding: 0;
}

.graph_text a {
    color: black;
}

.hover_image {
    position: absolute;
    max-height: 300px;
    max-width: 300px;
    top: 0;
    left: 0;
    display: inline-block;
    border:2px solid;
    border-color: #EEEEEE;
    box-shadow: 3px 3px 2px #888888;
    margin-left: 10px;
    margin-right: 10px;
    visibility: hidden;
    background-color: white;
    font: 1em sans-serif;
}

.winning_images {
    margin-bottom: 20px;
}
.winning_image {
    height: 150px;
}

.results_table, .results_th, .results_data {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial,sans-serif;
}

.results_table {
    margin-top: 10px;
}

.results_data {
    padding: 2px;
}

.results_row_odd {
    background-color:#C77966;
}

.results_row_even {
    background-color:#E3CDA4;
}

.results_row_header {
    background-color:#703030;
    color: white
}

.winning_image_wrapper, .gallery_image_wrapper {
    display: inline-block;
    border:2px solid;
    border-color: #EEEEEE;
    box-shadow: 10px 10px 5px #888888;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
}

.login_logout {
    font-family: Arial,sans-serif;
    font-size: x-small;
    text-align: right;
}

.login_logout_link:link, .login_logout_link:visited {
    color: white;
    text-decoration: none;
}
.submitted_image{
    max-height: 100px;
    max-width: 100px;
}

.gallery_image {
    max-height: 200px;
    max-width: 200px;
}

.base_section_header, .login_logout {
    background-color: #703030
}
.contests_section_submit {
    background-color: #C77966;
}

.contests_section_vote {
    background-color: #AED080;
}

.contests_section_results {
    background-color: #66C7A6;
}

.contests_section_view {
    background-color: #E3CDA4;
}

.contests_section_soon {
    background-color: #596894;
}

.contests_section_submit, .contests_section_vote, .contests_section_results, .contests_section_view, .contests_section_soon {
    font-family: arial,sans-serif;
    display: inline-block;
    margin: 5px;
    padding: 25px;
    color: #2F343B;
}

.base_section_header, .login_body {
    font-family: arial,sans-serif;
    padding: 10px;
    margin: 0;
}

.base_section_header {
    color: white;
}
.contests_link:visited, .contests_link:link {
    color: #2F343B;
}

.submissions_header {
    font: 2em sans-serif;
    color: #703030;
    text-align: left;
    padding: 10px;
}

.submissions_table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial,sans-serif;
}

.base_header:visited, .base_header:link {
    color: white;
    text-decoration: none;
}

.submission_message_list {
    font-family: arial,sans-serif;
    padding: 10px;
    margin: 0;
    font-size: 0.75em;
}

.submissions_existing_images {
    display: inline-block;
}

.submissions_image_section {
    display: inline-block;
}

.contests_section_header {
    font: 4.5em sans-serif;
    color: white;
    text-align: left;
}

.contests_section_comment {
    font: sans-serif;
    font-size: small;
    color: #703030;
    text-align: left;
}

.results_diagram {
    border: solid;
    border-color: #703030;
    margin-top: 10px;
    display: table;
}

.all_results {
    margin: 10px;
}

.winning_photographer {
    font: 0.75em sans-serif;
    padding: 0;
    margin: 0;
    color: #703030;
    vertical-align: bottom;
    text-align: center;
}

.error {
    background-color: #FF0000;
    font: 3em sans-serif;
    color: white;
    text-align: center;
}